*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 3rem;
}

.btn{
  width: 4.1875rem;
  height: 1.5rem;
  border: none;
  font-weight: 600;
  font-family: "Inter", serif;
}

.btn-square{
  border-radius: 4px;
}

.btn-pill{
  border-radius: 12px;
}

.btn-gray{
  background-color: #E5E7EB;
  color: #1F2937;
}
.btn-red{
  background-color: #fee2e2;
  color: #991b1b;
}
.btn-yellow{
  background-color: #fef3c7;
  color: #92400e;
}
.btn-green{
  background-color: #d1fae5;
  color: #065f46;
}
.btn-blue{
  background-color: #DBEAFE;
  color: #1E40AF;
}
.btn-indigo{
  background-color: #E0E7FF;
  color: #3730A3;
}
.btn-purple{
  background-color: #EDE9FE;
  color: #5B21B6;
}
.btn-pink{
  background-color: #FCE7F3;
  color: #9D174D;
}